@mixin jet-card-base($border-color, $shadow: none, $radius-diff: 4px) {
  background: var(--default-box-color);
  border: 1px solid #{$border-color} !important;
  border-radius: calc(var(--custom-radius) + #{$radius-diff}) !important;
  //暂时注释
  // box-shadow: #{$shadow} !important;

  --el-card-border-color: var(--default-border) !important;
}

.art-card-xs {
  @include jet-card-base(var(--art-card-border), none, -4px);
}

// 容器全高
.art-full-height {
  height: var(--art-full-height);
  display: flex;
  flex-direction: column;

  @media (max-width: 640px) {
    height: auto;
  }
}

// 表格卡片
.art-table-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  // border-radius: calc(var(--custom-radius) / 2 + 2px) !important;
  border-radius: 6px;

  .el-card__body {
    height: 100%;
    overflow: hidden;
  }
}